html, body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}
textarea,
input {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
}
nav.navbar {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.button.is-custom {
    background-color: #bb5548;
    border-color: transparent;
    color: #fff;
    &:active {
        background-color: #bb5548;
        border-color: transparent;
        color: #fff;
    }
    &:hover,
    &.is-hovered {
        background-color: #ab4b3f;
        border-color: transparent;
        color: #fff;
    }
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    article {
        background: linear-gradient(to bottom, #003783 0%, #cd0001 100%);
        color: #fff;
        padding: 30px 60px;
    }
}
main.login-page {
    background-image: url('/images/bg-01.jpg');
    width: 100%;
    height: 100vh;

    &:before {
        content: '';
        background-color: #000000d9;
        width: inherit;
        height: inherit;
        z-index: 0;
        position: absolute;
    }
}
.login {
    .content {
        padding: 1em 0;
    }
    .field {
        margin-bottom: 13%;
    }
    .input--chisato {
        padding-top: 1em !important;
    }
    .input {
        position: relative;
        z-index: 1;
        display: block;
        margin: 1em;
        max-width: 350px;
        height: 45px;
        width: calc(100% - 1em);
        background-color: transparent;
        border: 0px;
        box-shadow: inset 0 0px 0px transparent;

        &:focus {
            outline: 1px solid transparent;
        }

        .input__field {
            border: 1px solid #a95656bd;
        }
        
        label {
            font-size: 14px;
            top: 10%;
        }
    }
    .btn {
        padding: 13px 80px;
        font-size: 18px;
        border-radius: 5px;

        &:before {
            content: '';
            position:absolute;
            -webkit-transition: all 0.3s;
               -moz-transition: all 0.3s;
                    transition: all 0.3s;
            z-index: 0;
        }
        &:hover span {
            color: #fff;
        }
        span {
            position: relative;
            z-index: 1;
            vertical-align: middle;
            display: inline-flex;
            align-items: center;

            img {
                padding-right: 10px;
            }
        }
    }
    .btn-1 {
        border: 0px;
        color: #000;
        background-color: #ffffff96;
    }
    .btn-1c:before {
        border-radius: 5px;
        background: #000;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
    }
    .btn-1c:hover:before,
    .btn-1c:active:before {
        width: 100%;
    }
    .remember {
        display: inline-flex;
        align-items: center;
        margin-top: 7px;

        span {
            font-size: 13px;
        }
    }
    .forgot {
        position: absolute;
        left: 0;
        right: 0;
        
        span {
            font-size: 13px;
            color: #fff;
        }
    }
    button.login {
        padding: 13px 110px;
    }
    input {
        box-shadow: 0 0 0 0 transparent !important;
    }
}
.logo {
    text-align: center;
    p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
    }
}

#app {
    nav {
        &.navbar {
            position: fixed;
            width: 100%;
        }
    }
    .main-content {
        position: relative;
        top: 85px;
    }
    .sidenav-btn {
        position: absolute;
        z-index: 999;
        display: block;
        position: fixed;
        a {
            position: absolute;
            left: -145px;
            transition: 0.3s;
            padding: 15px;
            width: 220px;
            text-decoration: none;
            font-size: 20px;
            border-radius: 0 5px 5px 0;
            color: #fff;
            box-shadow: 2px 1px 5px 2px #c5c5c5;

            &:hover {
                left: 10px;
            }

            span.icon {
                margin: 0 6px;
                float: right;
            }
        }
        #dash {
            top: 20px;
            background: #3f6999;
        }
        #pages {
            top: 90px;
            background: #546696;
        }
        #posts {
            top: 160px;
            background: #88415c;
        }
        #categories {
            top: 230px;
            background: #ac4a58;
        }
        #settings {
            top: 300px;
            background: #cf5158;
        }
    }
    table {
        &.table {
            width: 100%;
        }
    }
    .column {
        .title {
            text-align: left;
        }
    }
    .field {
        .input--chisato {
            position: relative;
            z-index: 1;
            display: block;
            margin: 0.5em;
            height: 45px;
            // width: calc(100% - 1em);
            background-color: transparent;
            border: 0;
            box-shadow: inset 0 0px 0px transparent;
            padding-top: 1em;
        }
        .input__field--chisato {
            height: 51px;
        }
        .input__label--chisato {
            z-index: 1;
            top: -10%;
            font-size: 17px;
        }
    }
    .tox-tinymce {
        // width: calc(100% - 2em);
        border-radius: 5px;
    }
    input,
    textarea,
    .tox-tinymce {
        box-shadow: 2px 2px 2px 2px whitesmoke;
    }
    .btn {
        padding: 13px 80px;
        font-size: 18px;
        border-radius: 5px;

        &:before {
            content: '';
            position:absolute;
            -webkit-transition: all 0.3s;
               -moz-transition: all 0.3s;
                    transition: all 0.3s;
            z-index: 0;
        }
        &:hover span {
            color: #fff;
        }
        span {
            position: relative;
            z-index: 1;
            vertical-align: middle;
            display: inline-flex;
            align-items: center;

            img {
                padding-right: 10px;
            }
        }
    }
    .btn-1 {
        border: 0px;
        color: #000;
        background-color: #ffffff96;
    }
    .btn-1c:before {
        border-radius: 5px;
        // background: #000;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
    }
    .btn-1c:hover:before,
    .btn-1c:active:before {
        width: 100%;
    }
    .btn-cprimary {
        border: 1px solid #009bab;
        color: #009bab;
        width: 100%;
        margin: 0;

        &:hover{
            &:before {
                background: #009bab;
            }
        }
    }
    .btn-cdanger {
        border: 1px solid #d24a4a;
        color: #d24a4a;
        width: 100%;
        margin: 0;

        &:hover {
            &:before {
                background: #d24a4a;
            }
        }
    }
    .right-clmn {
        padding: 0.25rem;
        height: fit-content;

        .card-content {
            padding: 0.5rem;
        }
    }
    .btn-clmn {
        .column {
            padding: 0.25rem;

            .btn {
                padding: 13px 25px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .level.navbar {
        &.desktop {
            display: none;
        }
        &.mobile {
            display: flex;
        }
    }
    .level-item:not(:last-child) {
        flex-grow: 1;
    }
}
@media screen and (min-width: 768px) {
    .level.navbar {
        &.desktop {
            display: flex;
        }
        &.mobile {
            display: none;
        }
    }
    .level-item:not(:last-child) {
        flex-grow: 0;
    }
}